<div class="container">
  <form class="login" [formGroup]="form" (ngSubmit)="login()">
    <fieldset>
        <h2>Login Form</h2>

        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input
            [ngStyle]="
            form.get('email')?.errors && form.get('email')?.touched
              ? { 'border-left-color': 'red' }
              : { 'border-left-color': 'green' }
            "
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@gmail.com"
            formControlName="email"
            />
        </p>

        <ng-container *ngIf="form.get('email')?.touched">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
            <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">Email is not valid!</p>
        </ng-container>

        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input
            [ngStyle]="
            form.get('password')?.errors && form.get('password')?.touched
              ? { 'border-left-color': 'red' }
              : { 'border-left-color': 'green' }
            "
            type="password"
            id="password"
            placeholder="******"
            name="password"
            formControlName="password"
            />
        </p>

        <ng-container *ngIf="form.get('password')?.touched">
            <p class="error" *ngIf="form.get('password')?.errors?.['required']">Password is required!</p>
            <p class="error" *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 5 characters!</p>
        </ng-container>

        <button [disabled]="form.invalid">Login</button>

        <p class="text-center">
            Have an account?
            <a routerLink="/register">Register</a>
        </p>

    </fieldset>
  </form>
</div>
