<div class="comment">
    <header class="header">
        <p><span>{{post.userId.username}}</span> posted on <time>{{post.created_at}}</time></p>
    </header>
    <div class="comment-main">
        <div class="userdetails">
            <img src="../../../assets/profile.png" alt="avatar">
        </div>
        <div class="post-content">
            <p>{{post.text}}</p>
        </div>
    </div>
    <div class="footer">
        <i *ngIf="isLoggedIn" (click)="like(post._id)" [ngClass]="!isLiked ? 'fas fa-thumbs-up' : 'fas fa-thumbs-down'"></i>
        <p><span>{{post.likes.length}}</span> likes</p>
    </div>
</div>