<div class="theme-name-wrapper">
    <div class="theme-name">
        <a routerLink="/themes/{{theme._id}}" class="normal">
            <h2>{{ theme.themeName | slice : 25 }}</h2>
        </a>
        <div class="columns">
            <div>
                <p>Date: <time>{{ theme.created_at }}</time></p>
                <div class="nick-name">
                    <p>Username: <span>{{ theme.userId.username }}</span></p>
                </div>
            </div>
            <div class="subscribers">
                <button *ngIf="isLoggedIn" (click)="subscribe(theme._id)" [ngClass]="isSubscribed ? 'unsubscribe' : 'subscribe'">Subscribe</button>
                <p>Subscribers: <span>{{ theme.subscribers.length }}</span></p>
            </div>
        </div>
    </div>
</div>