<div class="container" *ngIf="theme">
    <!-- theme content  -->
    <div class="theme-content">
        <!-- theme-title  -->
        <div class="theme-title">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <h2>{{theme.themeName}}</h2>
                    <p>Date: <time>{{theme.created_at}}</time></p>
                </div>
                <div class="subscribers">
                    <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                    <!-- <button class="subscribe">Subscribe</button>
                    <button class="unsubscribe">Unsubscribe</button> -->
                </div>
            </div>
        </div>

        <!-- comment  -->
        <app-comment *ngFor="let currentPost of theme.posts" [post]="currentPost" />
    
        <div class="answer-comment" *ngIf="isLoggedIn">
            <p><span>currentUser</span> comment:</p>
            <div class="answer">
                <form>
                    <textarea name="postText" id="comment" cols="30" rows="10"></textarea>
                    <button>Post</button>
                </form>
            </div>
        </div>
    
    </div>
</div>